* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dee1e1;
}

.mainNav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1a2329;

    li {
        color: white;
        list-style: none;
        display: inline-block;
        width: auto;
        font-size: 1.2em;
        font-style: oblique;
        padding: 0.5em;
        margin: 1em 0.5em;
        background-color: #2d3c46;

        &:hover {
            background-color: #202b31;
        }

        &:first-of-type {
            font-style: normal;
            background-color: #1a2329;
            font-weight: bold;
            font-size: 2em;
            margin-right: 2em;

        }


        a {
            color: white;
            text-decoration: none;

            &:visited {
                color: white;
            }
        }
    }
}

.mainContent {
    table {
        width: 100%;
        border-spacing: 0;
    }
}

.songForm {

    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    padding-top: 1em;
    background-color: #1a2329;

    input,
    select,
    button {
        width: 20em;
        margin: 1em;
        padding: 1em;
        color: #232323;
        border: none;
        border-radius: 3px;

        &:focus {
            outline-color: #02e79a;
        }
    }

    button {
        background-color: #02e79a;
        border-radius: 3px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }

}

.song-header {

    .song-row__item {
        padding: 1em;
        background-color: #02e79a;
        width: 25%;
    }

}

.song-list {
    background-color: #1a2329;
    color: white;

    td {
        width: 25%;
        padding: 1em;
        padding-left: 2em;
        border-bottom: solid 1px white;
    }
}

.footer {

    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    .removeListButton {
        background-color: #ac1818;
        border-radius: 3px;
        border: none;
        color: white;
        width: 20em;
        margin: 2em;
        padding: 1em;

        &:hover {
            cursor: pointer;
        }
    }
}

.aboutPage {
    display: block;

    h1 {
        padding: 0.75em;
        margin-bottom: 0.5em;
        color: #1a2329;
        background-color: #02e79a;
        text-align: center;
    }

    p {
        line-height: 1.5em;
        text-align: left;
        margin: 1em 30%;
    }
}